<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] [%property{MDC}] (%file:%line) %stacktrace{5} - %message%newline" />
      </layout>
    </appender>
    <appender name="RichTextBoxAppender" type="Tizsoft.Log.Custom.RichTextBoxAppender">
      <formName value="Form1"/>
      <textBoxName value="LogMsgrichTextBox"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %5level %message %n" />
      </layout>
    </appender>
    <root>
      <level value="Info" />
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="RichTextBoxAppender"/>
    </root>
    <logger name="Tizsoft.Log.Logger">
      <level value="ALL"/>
    </logger>
    <logger name="Tizsoft.Log.GLogger">
      <level value="ALL"/>
    </logger>
  </log4net>
</configuration>